<style>
  #about.page * {
    margin: 0;
    padding: 0;
  }
  #about.page {
    width: 100%;
    height: auto;
    margin-top: 68px;
    --bg-white: white;
    --bg-gray: #f3f3f3;
    --bg-pink: #f9ede8;
    --bg-red: #ed0835;
    background-color: var(--bg-white);
  }
  #about div.button {
    background-color: var(--bg-red);
    margin: 0;
    padding: 20px;
    width: fit-content;
    min-width: 200px;
    text-align: center;
  }
  #about div.button p {
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    text-decoration: none;
  }
  #about a.button {
    margin: 0 auto;
    text-decoration: none;
    color: white;
  }
  </style>
  <style>
  /* First Section */
  #about.page .section.first {
    width: 100%;
    background-color: var(--bg-pink);
    text-align: center;
    padding: 100px 0;
  }
  #about.page .section.first h1 {
    margin-top: 15px;
    color: var(--bg-red);
  }
  </style>
<div id="about" class="page">
  <div class="section first">
    <h1>Contact Us</h1>
  </div>
  <style>
    /* Second Section */
    #about.page .section.second {
      width: 100%;
      background-color: white;
      padding: 100px 0;
    }
    #about.page .section.second .section_inner  {
      margin: 0 auto;
      background-color: white;
      max-width: 775px;
      text-align: center;
    }
    #about.page .section.second h2 {
      font-size: 35px;
      line-height: 60px;
      margin-bottom: 25px;
    }
    </style>
  <div class="section second">
    <div class="section_inner">
      <h2>Have more questions? We have answers.</h2>
      <p>Email us at <a href="support@theconfidence.co">support@theconfidence.co</a> or text us <a href="sms:(424)835-2780">(424)835-2780</a>.</p>
    </div>
  </div>
</div>